[*.cs]

# CS8604: Possível argumento de referência nula.
dotnet_diagnostic.CS8604.severity = none

# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = none

# IDE0055: Corrigir a formatação
dotnet_diagnostic.IDE0055.severity = none

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = none

# CS8602: Desreferência de uma referência possivelmente nula.
dotnet_diagnostic.CS8602.severity = none
